.long-list.conteiner
  .long-list--inner.row
    .long-list--item.long-list--item1.col-sm-12.col-md-6.col-lg-4
      p Профиль REHAU (Германия)
    .long-list--item.long-list--item2.col-sm-12.col-md-6.col-lg-4
      p Фунитура G-U (Австрия)
    .long-list--item.long-list--item3.col-sm-12.col-md-6.col-lg-4
      p Стекла Guardian (Англия)
    .long-list--item.long-list--item4.col-sm-12.col-md-6.col-lg-4
      p Энергосберегающий монтаж по ГОСТУ
    .long-list--item.long-list--item5.col-sm-12.col-md-6.col-lg-4
      p Доставка по Украине
    .long-list--item.long-list--item6.col-sm-12.col-md-6.col-lg-4
      p Гарантия 10 лет
    .long-list--item.long-list--item7.col-sm-12.col-md-6.col-lg-4
      p Многолетний опыт, производим окна с 1998 года
    .long-list--item.long-list--item8.col-sm-12.col-md-6.col-lg-4
      p Более 120 точек продаж, самая большая сеть магазинов
    .long-list--item.long-list--item9.col-sm-12.col-md-6.col-lg-4
      p Бесплатное обслуживание на протяжении 10 лет (регулировка, ремонт)
    .long-list--item.long-list--item10.col-sm-12.col-md-6.col-lg-4
      p Профессиональный замер
    .long-list--item.long-list--item11.col-sm-12.col-md-6.col-lg-4
      p Демонтаж и уборка мусора
    .long-list--item.long-list--item12.col-sm-12.col-md-6.col-lg-4
      p Кредит и рассрочка
    .long-list--item.long-list--item13.col-sm-12.col-md-6.col-lg-4
      p Оплата частями
