.types
  .types--inner
    h2.types--title МЫ ПРЕДЛАГАЕМ
    .types--content.container-fluid
      .types--item.col-xs-12.col-md-6
        img.types-pic(src="images/window1.png", alt="Пластиковые окна")
        .types--card
          .types--card-item.card--title Пластиковые окна 
          .types--card-item.card--line
          .types--card-item.card--text Надежные энергосберегающие окна REHAU (Германия) - от обычных 3-камерных до самых инновационных GENEO PHZ. Оптимальный вариант для всех типов помещений
          .types--card-item.new-button.text-white ПОДРОБНЕЕ
      .types--item.col-xs-12.col-md-6
        img.types-pic(src="images/window2.png", alt="Алюминиевые окна")
        .types--card
          .types--card-item.card--title Пластиковые окна 
          .types--card-item.card--line
          .types--card-item.card--text Легкие и прочные, идеальны для больших проёмов. Теплый или холодный вариант остекления, долговечные и надежные. Прекрасная звукоизоляция
          .types--card-item.new-button ПОДРОБНЕЕ

