.common
  .common--inner
    h1.common--title Окна пластиковые и алюминиевые от «окна корса»
    nav(aria-label="breadcrumb")
    ol.breadcrumb 
      li.breadcrumb-item
        a(href="http://", target="_blank") Главная
      li.breadcrumb-item.active(aria-current="page") Окна
    .common--text Торговая марка Окна КОРСА предлагает всем клиентам купить окна с установкой и доставкой по територии Украины. В наших фирменных офисах имеется большой подбор оконых и дверных конструкций. Наш квалифицированний специалист порекомендует оптимальный вариант и поможет выбрать лутшее для вас. Если Вы уже выбрали окна или двери, то оформить заказ можно по телефону 0(800) 210-210.