
.slider
  .item
    img(src="images/firstslider1.png" alt="...")
  .item
    img(src="images/firstslider2.png" alt="...")
  .item
    img(src="images/firstslider3.png" alt="...")
  .item
    img(src="images/firstslider4.png" alt="...")
  .item
    img(src="images/firstslider1.png" alt="...")
  .item
    img(src="images/firstslider2.png" alt="...")
  .item
    img(src="images/firstslider3.png" alt="...")
  .item
    img(src="images/firstslider4.png" alt="...")