$unit: px;


$font1: 'roboto';
$font2: 'Myriad Pro', sans-serif;
$font3: 'Kelson Sans';
$font4: 'Calibri Regular';
$font5: 'Open Sans Regular';

$white: #fff;
$first-color: #0e3d6b;
$orange: #ff8500;
$red: #ff0000;
$grey: #666262;
$green: #4bbe3f;
$header-menu: #4178ac;
$page-name: #4c80b2;

