.cost.row
  .cost--inner
    .cost--title Цены на окна
    .cost--text Принимая решение купить окна у нас, Вы получаете уникальное соотношение невысокой стоимости продукции с высоким европейским качеством. При изготовлении оконных конструкций, все этапы реализуются в соответствии с нормами Украины и ЕС. Вся алюминиевая или пластиковая продукция, продается исключительно с 10 летней гарантией, что подтверждает ее качество. Наши алюминиевые и пластиковые окна - стильные и практичные. Их срок эксплуатации рассчитан до 50 лет.
    .cost--media-wrapper
      .cost--media.media.col-xs-12.col-sm-6.col-md-4.col-lg-3.col-centered
        .economia экономия <br>4312 грн
        a.cost--link(href="http://", target="_blank")
          img.media-object.custom-media(src="images/window1.jpg", alt="alt")
        .media-body.col-centered
          .media--text.media--text1 Одностворчатое окно с <br>открывающайся створкой
          .media--text.media--text2 Цена без скидки от 
            span 14372 грн
          .media--text.media--text3 
            span Цена от 
            span 1150 
            span грн
          .cost--button.button заказать
      .cost--media.media.col-xs-12.col-sm-6.col-md-4.col-lg-3.col-centered
        .economia экономия <br>4003 грн
        a.cost--link(href="http://", target="_blank")
          img.media-object.custom-media(src="images/window2.jpg", alt="alt")
        .media-body.col-centered
          .media--text.media--text1 Двустворчатое окно с <br>открывающайся створкой
          .media--text.media--text2 Цена без скидки от 
            span 13344 грн
          .media--text.media--text3 
            span Цена от 
            span 2150 
            span грн
          .cost--button.button заказать
      .cost--media.media.col-xs-12.col-sm-6.col-md-4.col-lg-3.col-centered
        .economia экономия <br>4312 грн
        a.cost--link(href="http://", target="_blank")
          img.media-object.custom-media(src="images/window3.jpg", alt="alt")
        .media-body.col-centered
          .media--text.media--text1 
            | Окно из трех частей с <br>
            | открывающайся центральной <br>
            | створкой
          .media--text.media--text2 Цена без скидки от 
            span 14372 грн
          .media--text.media--text3 
            span Цена от 
            span 3150 грн 
            span грн
          .cost--button.button заказать
      .cost--media.media.col-xs-12.col-sm-6.col-md-4.col-lg-3.col-centered
        .economia экономия <br>4312 грн
        a.cost--link(href="http://", target="_blank")
          img.media-object.custom-media(src="images/window4.jpg", alt="alt")
        .media-body.col-centered
          .media--text.media--text1 Панорамное окно <br>от пола до потолка
          .media--text.media--text2 Цена без скидки от 
            span 18372 грн
          .media--text.media--text3 
            span Цена от 
            span 3570 
            span грн
          .cost--button.button заказать