header.header
  .header--inner
    .header--item.logo
      img(src="images/logo.png", alt="Корса")
    a.header--item.text-secondary.tel(href="tel:+0800210210") 0(800)210-210
    .menu
      a(href="http://", target="_blank").menu--item окна
      a(href="http://", target="_blank").menu--item двери
      a(href="http://", target="_blank").menu--item балконы и лоджии
      a(href="http://", target="_blank").menu--item перегородки
      a(href="http://", target="_blank").menu--item гаражные ворота
      a(href="http://", target="_blank").menu--item роллеты
      a(href="http://", target="_blank").menu--item весь асортимент
      a(href="http://", target="_blank").menu--item где купить
    .modal(data-modal)
      a(href="http://", target="_blank").menu--item окна
      a(href="http://", target="_blank").menu--item двери
      a(href="http://", target="_blank").menu--item балконы и лоджии
      a(href="http://", target="_blank").menu--item перегородки
      a(href="http://", target="_blank").menu--item гаражные ворота
      a(href="http://", target="_blank").menu--item роллеты
      a(href="http://", target="_blank").menu--item весь асортимент
      a(href="http://", target="_blank").menu--item где купить
    .lang
      a(href="http://", target="_blank").lang--item UA 
      a.lang--item.lang--item-active RU